// Escribir un programa que muestre por pantalla la cadena ¡Hola Mundo!//

 Escribir un programa que almacene la cadena ¡Hola Mundo! en una variable y luego  muestre por pantalla el contenido de la variable 

 Escribir un programa que pregunte el nombre del usuario en la consola y después de  que el usuario lo introduzca muestre por pantalla la cadena ¡Hola <nombre>!, donde  <nombre> es el nombre que el usuario haya introducido. 
String myName

String msg="escribe tu nombre";

String msg2="hola";

String msg3="bienvenidos al mejor curso de mecatronica";

void setup() {

Serial.begin (115200);

}

void loop() {

Serial.println();

Serial.print(msg1);

while (Serial.available()==0) {

}

myName=Serial.readString();

Serial.println(msg2);

Serial.println(myName);

while (Serial.println(msg3)

Escribir un programa que muestre por pantalla el resultado de la siguiente operación  2∗5)2
aritmética (3+2 
#ciclos **** loop while 
contador=0
 
while contador <10:
    contador += 1
    print (contador)
'''
'''''
contador =0
while contador<20:
    contador +=1
    if contador==15:
        break
    print(contador)


7. Escribir un programa que pregunte al usuario por el número de horas trabajadas y el  coste por hora. Después debe mostrar por pantalla la paga que le corresponde.



8. Escribir un programa que lea un entero positivo, n , introducido por el usuario y después  muestre en pantalla la suma de todos los enteros desde 1 hasta . La suma de los primeros enteros positivos puede ser calculada de la siguiente forma: 

contador =0
while contador<20:
    contador +=1
    if contador==15:
        break
    print(contador)
'''

Escribir un programa que pida al usuario su peso (en kg) y estatura (en metros), calcule  el índice de masa corporal y lo almacene en una variable, y muestre por pantalla la frase  Tu índice de masa corporal es <imc> donde <imc> es el índice de masa corporal calculado redondeado con dos decimales. 

9. Una Metal- mecánica tiene mucho éxito en dos de sus productos: engranes y cilindros.  Suele hacer venta por correo y la empresa de logística les cobra por peso de cada  paquete así que deben calcular el peso de los engranes y cilindros que saldrán en cada  paquete. Cada engrane pesa 112 g y cada cilindro 75 g. Escribir un programa que lea  el número de engranes y cilindros vendidos en el último pedido y calcule el peso total  del paquete que será enviado. 

10. Una panadería vende barras de pan a $ 3.49 pesos cada una. El pan que no es el  día tiene un descuento del 60%. Escribir un programa que comience leyendo el número  de barras vendidas que no son del día. Después el programa debe mostrar el precio  habitual de una barra de pan, el descuento que se le hace por no ser fresca y el coste  final total. 


11. Escribir un programa que pregunte al usuario su edad y muestre por pantalla si es  mayor de edad o no. 
edad=int(input("cuantos años tienes"))
for z in range(edad):
print ("has cumplido años"+str(z+1) + "años")
'''

edad = int (input("que edad tienes "))
if edad >=16 and edad <= 1000:
    print ('no eres mayor de edad')
else:
    print(' eres mayor de edad')
'''''



12. Escribir un programa que almacene la cadena de caracteres contraseña en una  variable, pregunte al usuario por la contraseña e imprima por pantalla si la contraseña 

clave =int(input("ingresa tu contraseña"))
if clave >=246:
 print ('clave correcta')
elif clave >= 369:
 print('clave incorrecta')
 '''

introducida por el usuario coincide con la guardada en la variable sin tener en cuenta  mayúsculas y minúsculas 


13. Escribir un programa que pida al usuario dos números y muestre por pantalla su  división. Si el divisor es cero el programa debe mostrar un error. 

dividiendo  =int (input("ingreso de numero"))
divisor  =int(input("ingresa otro numero"))

if divisor ==0:
 print('error')
else:
 print('correcto')
'''

14. Escribir un programa que pida al usuario un número entero y muestre por pantalla si  es par o impar. 
numero=int(input('ingresa un numero'))
resultado=number %2
if (resultado==0):
    print('es par')

else:
    print('es impar')
'''
15. Escribir un programa que pida al usuario una palabra y la muestre por pantalla  10 veces. 

16. Escribir un programa que pida al usuario un número entero positivo y muestre por  pantalla todos los números impares desde 1 hasta ese número separados por comas
